@model Estapar_Web_DTO.Manobra

@{
    ViewBag.Title = "Excluir de Manobra";
}

<h2>Excluir de Manobra</h2>

<h3>Você tem certeza que deseja excluir esta Manobra?</h3>
<div>
    <h4>Manobra</h4>
    <hr />
    <dl class="Voltar à Lista">
        <dt>
            @Html.DisplayNameFor(model => model.data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dataTerm)
        </dt>

        <dd>
            @if (Model.dataTerm == "")
            {
                <p>Não Encerrada</p>
            }
            @Html.DisplayFor(model => model.dataTerm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.manobrista.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manobrista.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.veiculo.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.veiculo.marca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.veiculo.modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.veiculo.modelo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.veiculo.placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.veiculo.placa)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar à Lista", "Index")
        </div>
    }
</div>

@if (ViewBag.Alerta != string.Empty)
{
    <script type="text/javascript">
        alert('@ViewBag.Alerta');
    </script>
}